.jumbotron {
    background-image: url(./img11/returnal-listing-thumb-01-ps5.jpg);
    height: 80vh;
    background-size: cover;
    background-position: center;



}

.sonycontainer {
    background-color: black;
}

#sony {
    height: 10px;
}

section h1,
p {
    color: white;
}

.two {
    background-image: url(./img11/it-takes-two-hero-banner-desktop.jpg);
    height: 80vh;
    background-size: cover;
    background-position: center;
}

.two p {
    color: white;
}

.bandicot {
    background-color: rgb(8, 3, 3);

}

.bandicot p {
    font-size: 10px;
}




h3 {
    color: blue;

}


img {


    height: 170px;
    object-fit: cover;

}

.takes {

    height: 280px;
}

.middle {
    background-color: blue;
    height: 80vh;
    width: 100%;
}

#navlogo {
    height: 50px;
}

.plus {
    height: 400px;
    background-color: #bfbcbb;
    width: 100%;
}

.now {
    background-color: rgb(9, 18, 198);
    height: 300px;
    width: 100%;
}

.psplus {

    height: 50px;
}



.icons {
    width: 100px;

}

/*  
.soulstorm {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;

}
*/
.ps {
    height: 100%;
}

section p {
    color: white;
}



#btnplus {
    width: 200px;
    border-radius: 25%;
    background-color: #d9dadc;
    color: blue;
    border: none;
    height: 50px;

}

.button {

    border-bottom: 2px solid blue;

}

p {
    color: black;
}

.esplora {
    margin: 50px;
}

.discount img {

    height: 220px;
}

.social img {
    height: 100px;
}

#social {
    width: 30px;
}

#ciao {
    border-radius: 20%;
    width: 200px;
    padding: 20px
}

/* footer */
.sony {
    height: 30px;
}

.final {
    background-color: rgb(14, 25, 235);
    height: 800px;
    width: 100%;
}

/* button */
#start {
    background-color: red;
    width: 9rem;
    border-radius: 15%;
    height: 40px;
}

.infobtn {
    width: 150px;
    border-radius: 25%;
    background-color: blue;
    color: white;
    border: none;
}