.jumbotron {
    background-image: url(./img11/returnal-listing-thumb-01-ps5.jpg);
    height: 80vh;
    background-size: cover;
    background-position: center;
}

.dropdown-item-text {
    background-color: rgb(227, 237, 237);
    width: 1200px;
    height: 500px;
}

ul {
    list-style: none;
}

.navps {
    display: flex;
    justify-content: space-around;


}

:hover.ciao {

    transition: 2s;
    margin-top: -15px;
}

.pad {
    padding-top: 300px;
}

.navps1 {
    display: flex;
    align-items: flex-end;
}

.sonycontainer {
    background-color: black;
}

#sony {
    height: 10px;
}

section h1,
p {
    color: white;
}

.two {
    background-image: url(./img11/it-takes-two-hero-banner-desktop.jpg);
    height: 80vh;
    background-size: cover;
    background-position: center;
}

.two p {
    color: white;
}

.bandicot {
    background-color: rgb(8, 3, 3);

}

.bandicot p {
    font-size: 10px;
}




h3 {
    color: blue;

}


img {
    height: 170px;
    object-fit: cover;

}

.takes {
    min-width: 100px;
}

.middle {

    height: 80vh;

}

#navlogo {
    height: 50px;
}

.plus {
    background-color: #bfbcbb;

}

.now {
    background-color: rgb(9, 18, 198);
}

. .icons {
    width: 100%;
}


.soulstorm {

    background-size: cover;
    background-position: center;

}

.ps {
    height: 100%;
}

section p {
    color: white;
}



#btnplus {
    width: 200px;
    border-radius: 25%;
    background-color: #d9dadc;
    color: blue;
    border: none;
    height: 50px;

}

.button {

    border-bottom: 2px solid blue;

}

p {
    color: black;
}

.esplora {
    margin: 50px;
}

.discount img {

    height: 220px;
}

.social img {
    height: 100px;
}

#social {
    width: 30px;
}

.ciao {
    border-radius: 10px;

}


/* footer */
.sony {
    height: 30px;
}

.final {
    background-color: rgb(14, 25, 235);
    height: 800px;
    width: 100%;
}

/* button */
#start {
    background-color: red;
    width: 9rem;
    border-radius: 15px;
    height: 40px;
}

.infobtn {
    width: 150px;
    border-radius: 15px;
    background-color: blue;
    color: white;
    border: none;
}

footer p,
li {
    color: white;

}